@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* html ke pass */
body{
    font-family: "Roboto",sans-serif;
    background-color: rgb(238, 238, 238);
}

header{
         height: 4rem;
         /* background-color: coral; */
}

.titlebar{
    height: 50%;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.title-img{
    /* 2.5 rem -> 60% */
    height: 60%;
    margin-left: 1rem ;
}

.title{
    font-size: 1rem;
}

.menu-bar{
    display: flex;
    /* outline: 1px solid red; */
    height: 50%;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

.menu{
    position: relative;
}

.menu:hover{
    border: 1px solid rgb(7, 93, 133);
    background-color: lightblue;
}

.menu-items{
     background-color: rgb(238, 238, 238);
    position: absolute;
    top: 1px;
    width: 9rem;
    display: none;
    cursor: pointer;
}

.menu:hover .menu-items{
    display: block;
}

/* .menu-btn:hover + .menu-items{
    display:block;
} */

li {
    padding: 0.25rem;
}

li:hover{
background-color: rgb(172, 172, 172)
}

.videoInput{
    display: none;
}


main{
    height: calc(100vh - 8rem);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    height: 85%;
    top: 1rem;
}

.toast{
    color: white;
    position: fixed;
    right: 44px;
    top: 100px;
    display: none;
    font-size: 1.5rem;
}

footer{
    height: 4rem;
    background-color:  rgb(221, 218, 218);
}

 .time-container {
    display: flex;
    gap: 1rem;
}

.time-container>* {
    /* outline: 1px solid red; */
    text-align: center;
}

.current-time,.total-time {
    margin-left: 7px;
    width: 5%;
    min-width: 44px;
}

.time-slider {
    width: 83%;
}

.slider {
    width: 100%;
    opacity: 0.7;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(221, 218, 218);
    border: 1px solid rgb(126, 124, 124);
    height: 20px;
    width: 20px;
}

.btn:hover {
    border: 1px solid rgb(7, 93, 133);
    background-color: rgb(221, 244, 250);
}

.menu-btns {
    display: flex;
    gap: 0.5rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
    cursor: pointer;
    
}

i {
    color: rgba(82, 82, 82, 0.843);
    font-size: 14px;
}

.play_pause-container {
    padding: 7px;
    height: 25px;
    width: 25px;
}

.rest-options {
    display: flex;
    gap: 0.3rem;
    align-items: flex-end;
}